*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display:flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.content {
  display: flex;
  inline-size: 100%;



 /* display: grid;
  
  grid-template-columns: 711px 399px;
  grid-template-rows: 78px 1fr;
  grid-template-areas:
  '. content__details';
  'result__video-container content__details';
  height: 534px;*/

  gap: 30px;
  margin: 0 30px;
}

.result {
  align-self: flex-end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
 /* margin-bottom: 17px;*/
}

.result__video {
  position: relative;
  width: 100%;
}

.search-form {
  display: inline-flex;
  width: 100%;
  align-items: stretch;
/*  gap: 19px;*/
  margin-top: 20px;
  justify-content: space-between;


}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
  line-height: 30px;
}

.search-form__fieldset {


  align-content: center;
  border:none;
}

.search-form__label {
  display: flex;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
}
.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:#fff;
  margin: 0px 10px;
}
/*
.search-form__label-text:nth-of-type(3) {
  margin-right: 0px;
}*/

.search-form__textfield {
  width:220px;
  appearance: none;
}

/*
.search-form__textfield:focus {
  outline: 5px solid pink;
}*/



.search-form__checkbox {
 /* display: inline-flex;*/
}
.search-form__checkbox-list {
  display: flex;
/*  width:212px;*/
  width: fit-content;
  gap: 5px;

  /*display:flex;
gap: 15px;*/
}

/*
search-form__label .checkbox:nth-of-type(2) {
  padding-left: 20px; 
}*/

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}

/*.search-form__pseudo-checkbox::after*/
.search-form__checkbox:checked + span {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background-color: #fff;
  margin: 1px 0 0 1px;
}

.content__details {}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  color:#fff;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color:#aaa;
}
.content__list {
  position: relative;
  height: 302px;
  overflow: auto;
  margin-top: 20px;
}
.content__list::-webkit-scrollbar {
  display: none;
}

.content__video-card {
  display: inline-flex;
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color:#fff;
  text-transform: uppercase; 
  width: 100%;
}

.content__video-card-description {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color:#fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin-left: auto;
}

.button {
  margin-top: 20px;
  border: 1px solid #aaa;
  height: 34px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color:#fff;

}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #aaa;
}

.button:focus {
 outline:none; 
}

.content__card-link {
  display: block;
  margin: 2px 2px 39px 2px;
}

.search-form__checkbox-list label:hover {
  cursor: pointer;
  text-decoration: underline; 
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #aaa;
  outline-offset: 1px;
  text-decoration: underline; 
}

.search-form__textfield:active {
  outline: 1px solid #aaa;
}

.search-form__textfield:hover {
}

.content__card-link:hover {
  text-decoration: underline; 
}

.content__card-link:active {
  background-color: #aaa;
}

.content__card-link::focus-visible {
  outline: 1px solid #aaa;
  margin: 2px;
}

